<app-header title="Ejercicios"></app-header>

<!-- <ion-content>

    <ion-list>
        <ion-item *ngFor="let e of exercises | async">
            <ion-label slot="end">{{"Usuario: " + }}</ion-label>
            <h2>{{e.title}}</h2>
            <p>{{e.body}}</p>
        </ion-item>
    </ion-list>

</ion-content> -->
<ion-content fullscreen="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Ejercicios</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let e of eSession; let i = index">
          <ion-card class="e-card">
            <ion-card-header>
              <ion-item detail="false" lines="none" class="e-item">
                <ion-avatar slot="start">
                  <img [src]="e.icon" alt="icono.png">
                </ion-avatar>
                <ion-label>
                  <h2>{{e.exerciseNumber}}</h2>
                </ion-label>
              </ion-item>
            </ion-card-header>
  
            <ion-card-content>
              <ion-list lines="none">
                <ion-item detail="false">
                  <ion-label>
                    <h2 style="white-space: normal;">{{e.title}}</h2>
                  </ion-label>
                </ion-item>
  
                <ion-item detail="false" routerLink="/exercise-detail/{{e.id}}">
                  <ion-label>
                    <p>Detalles {{e.exerciseNumber}}</p>
                  </ion-label>
                </ion-item>
  
                <ion-item detail="false" *ngIf="e.mediaType === 'Questions'">
                  <ion-list lines="inset">
                    <ion-item *ngFor="let media of e.media" detail="false">
                      <ion-row>
                        <ion-col size="12">
                          {{media}}
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="12">
                          <ion-textarea rows="1" style="padding-top: 30px;"></ion-textarea>
                        </ion-col>
                      </ion-row>
                    </ion-item>
                    <ion-item detail="false">
                      <ion-label position="floating">Respuestas</ion-label>
                      <ion-textarea rows="4"></ion-textarea>
                    </ion-item>
                  </ion-list>
                  
                </ion-item>

                <ion-item detail="false" *ngIf="e.media && (e.mediaType == 'img' || !e.mediaType)">
                  <ion-slides pager="true" >
                    <ion-slide *ngFor="let media of e.media">
                      <ion-img [src]="media"></ion-img>
                    </ion-slide>
                  </ion-slides>
                </ion-item>

                <ion-item detail="false" *ngIf="e.mediaType === 'DragDrop'">
                  <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event, i.toString())">
                    <div class="example-box" *ngFor="let media of e.media" cdkDrag>
                      <ion-img [src]="media"></ion-img>
                    </div>
                  </div>
                </ion-item>

                <!-- <ion-item detail="false" *ngIf="e.mediaType === 'DragDropWords'">
                  <ion-list lines="inset">
                    <ion-item *ngFor="let media of e.media" detail="false">
                      <div cdkDropList cdkDropListOrientation="horizontal" class="word-container" (cdkDropListDropped)="dropWords($event, i.toString())">
                        <div class="word-box row" *ngFor="let word of media.words; let j = index" cdkDrag>
                          {{word}}
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-item> -->

                <ion-item detail="false" *ngIf="e.mediaType === 'Audio'">
                  <ion-toolbar>
                    <ion-row>
                      <ion-col size="12">
                        <ion-range #range [(ngModel)]="progress" max="100" color="primary" (touchend)="seek()" (mouseup)="seek()"></ion-range>
                      </ion-col>
                      <ion-col size="12" class="ion-text-center">
                        <ion-button (click)="togglePlayer(false, i)" fill="clear" *ngIf="!isPlaying">
                          <ion-icon slot="icon-only" name="play" color="primary"></ion-icon>
                        </ion-button>
                        <ion-button (click)="togglePlayer(true, i)" fill="clear" *ngIf="isPlaying">
                          <ion-icon slot="icon-only" name="pause" color="primary"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-toolbar>
                </ion-item>

                <ion-item detail="false" *ngIf="e.mediaType == 'Text'">
                  <ion-list lines="full">
                    <ion-item *ngFor="let media of e.media" detail="false">
                      <p align="justify">
                        {{media}}
                      </p><br>
                    </ion-item>
                  </ion-list>
                </ion-item>
  
                <ion-item mode="ios">
                  <ion-segment (ionChange)="segmentChanged($event, i)" value="None">
                    <ion-segment-button value="Correct">
                      <ion-icon name="checkmark" color="success"></ion-icon>
                    </ion-segment-button>
                    <ion-segment-button value="Wrong" >
                      <ion-icon name="close" color="danger"></ion-icon>
                    </ion-segment-button>
                  </ion-segment>
                </ion-item>
  
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" color="success"  (click)="onClick()">Calificar</ion-button>
    </div>
  </ion-content>
  