<ion-menu contentId="main-content" menuId="main-menu">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="loggedIn" lines="none">
      <ion-list-header>
        Menú
      </ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let p of menuItem | async; let i = index">
        <ion-item [routerLink]="p.redirectTo" routerLinkActive="selected" routerDirection="root" detail="false">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.name}}
          </ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>
    <ion-list *ngIf="loggedIn" lines="none">
      <ion-list-header>
        Adulto
      </ion-list-header>
      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/create-adult" routerLinkActive="selected" routerDirection="root" detail="false" disabled="false">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          <ion-label>
            Registrar Adulto
          </ion-label>
        </ion-item>
        <ion-item routerLink="/adults-info" routerLinkActive="selected" routerDirection="root" detail="false" disabled="false">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          <ion-label>
            Información Adultos
          </ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list>

    <ion-list *ngIf="loggedIn" lines="none">
      <ion-list-header>
        Cuenta
      </ion-list-header>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/account" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>
            Perfil
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="help"></ion-icon>
          <ion-label>
            Ayuda
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item button (click)="logout()" detail="false">
          <ion-icon slot="start" name="log-out"></ion-icon>
          <ion-label>
            Cerrar Sesión
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>

    <ion-list *ngIf="!loggedIn" lines="none">
      <ion-list-header>
        Cuenta
      </ion-list-header>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/login" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="log-in"></ion-icon>
          <ion-label>
            Iniciar Sesión
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/register" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="person-add"></ion-icon>
          <ion-label>
            Registrarse
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle autoHide="false">
        <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
          <ion-icon slot="start" name="help"></ion-icon>
          <ion-label>
            Ayuda
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

  </ion-content>

  <!-- <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of menuItem | async">
        <ion-item [routerLink]="c.redirectTo" detail>
          <ion-label>{{ c.name }}</ion-label>
          <ion-icon slot="end" [name]="c.icon"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content> -->

  <ion-footer>
    <ion-img src="assets/img/ucp.png" style="max-width:90%; max-height:90%; padding: 15px;" alt="Universidad Católica de Pereira"></ion-img>
  </ion-footer>

</ion-menu>
